.view-item-block {
    display: block;
    position: relative;
    margin: 10px;
    max-width: 800px;
    overflow: hidden;
}

.view-item-block .view-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--sec-color);
    width: 98%;
    min-width: 80%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 3px 2px 8px 0 var(--prim-color);
}

.view-item-block .view-item .top-block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 2px solid var(--prim-color);
    max-width: 95%;
    min-width: 95%;
    margin: auto;
    color: var(--prim-color);
}

.view-item-block .view-item .top-block .item-status {
    display: block;
    color: red;
    padding: 5px;
    background-color: var(--tet-color);
    border-radius: 20px;
}

.view-item-block .view-item .main-block {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 30px;
}

.view-item-block .view-item .main-block .img-block {
    display: block;
    background-color: var(--tet-color);
    min-height: 150px;
    min-width: 200px;
    margin: 10px;
    flex-grow: 2;
    aspect-ratio: 1;
    max-width: 300px;
}

.view-item-block .view-item .main-block .item-config {
    padding: 10px;
    font-size: 19px;
    min-width: 200px;
    flex-grow: 1;
}

.view-item-block .view-item .main-block .item-config #item-config-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.view-item-block .view-item .main-block .item-config #item-config-form .form-group input {
    width: 50px;
    font-size: inherit;
    border: 1px solid var(--prim-color);
    border-radius: 10px;
    outline: none;
    padding: 2px;
    text-align: center;
}

.view-item-block .view-item .main-block .item-config #item-config-form .form-group #total {
    color: var(--prim-color);
    font-size: 22px;
    font-weight: bold;
    display: inline;
}

.view-item-block .view-item .main-block .item-config #item-config-form .form-group select {
    height: 30px;
    font-size: inherit;
    border: none;
    border-radius: 10px;
    outline: none;
}

.item-config #item-config-form .form-group button {
    font-size: inherit;
    border: none;
    background-color: var(--prim-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.item-config #item-config-form .form-group button:hover {
    background-color: var(--sec-color);
    color: var(--prim-color);
    font-weight: bold;
}

/* similar items */
.similar-items-sec {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 4px 0 var(--tet-color);
    min-height: 250px;
}

.similar-items-sec .top-block {
    display: flex;
    flex-direction: row;
    width: auto;
    border-bottom: 3px solid var(--prim-color);
    padding: 5px 10px;
    box-shadow: 3px 3px 4px 0 var(--tet-color);
    justify-content: space-between;
    color: var(--prim-color);
}

.btns-block .similar-btn {
    font-size: 18px;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid var(--prim-color);
    color: var(--prim-color);
    background-color: var(--sec-color);
}

.btns-block .similar-btn:hover {
    background-color: var(--prim-color);
    color: var(--sec-color);
    border-color: var(--sec-color);
}