* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

:root {
  --prim-color: rgb(236, 147, 12);
  --sec-color: rgb(255, 245, 231);
}

.main-nav {
  display: flex;
  background-color: var(--prim-color);
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  padding: 5px 0;
}

#nav-line {
  background-color: var(--sec-color);
  display: block;
  position: absolute;
  width: 100%;
  max-height: 5px;
  left: 0;
  top: 45px;
  border-radius: 20px;
}

.main-nav .nav-items {
  display: flex;
  list-style: none;
  gap: 15px;
}

.main-nav .nav-items .nav-item {
  display: flex;
  padding: 10px 10px;
  max-height: 20px;
  border-radius: 10px 10px 0 0;
  background-color: var(--prim-color);
  color: var(--sec-color);
}

.main-nav .nav-items .nav-item:hover {
  color: #fff;
  font-weight: 700;
  background-color: var(--sec-color);
  color: var(--prim-color);
}

#nav-line:hover {
  background-color: red;
}

.main-footer {
  display: flex;
  background-color: var(--prim-color);
  position: relative;
  width: 100%;
  bottom: 0;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main-footer .footer-items {
  list-style: none;
}

.section-heading {
  color: var(--prim-color);
  width: 95%;
  margin: auto;
  text-align: center;
  border-bottom: 2px solid var(--prim-color);
  padding-bottom: 5px;
}

main {
  margin-top: 100px;
}

#updates {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--sec-color);
  max-height: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 0 grey;
  max-width: 98%;
  width: 100%;
  padding: 5px 10px;
  border-radius: 0 0 10px 10px;
}

#updates .update-cont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
}

#updates .update-cont .update-msg {
  display: flex;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  width: fit-content;
  border-radius: 20px;
  background-color: var(--prim-color);
  padding: 2px 10px;
  color: #fff9f1;
  text-align: center;
}

#menu-slider {
  display: flex;
  margin: 10px auto;
  border-radius: 20px;
  justify-content: flex-start;
  max-width: 95%;
  overflow: hidden;
  box-shadow: 2px 2px 3px 0 grey;
}

#menu-slider .slider-block {
  min-width: 100%;
  text-align: center;
  min-height: 200px;
  z-index: 0;
}

#menu-slider .slider-block:first-child {
  border-radius: 20px 0 0 20px;
}

#menu-slider .slider-block:last-child {
  border-radius: 0 20px 20px 0;
}

#slide-menu .slider-btns-block {
  display: flex;
  position: absolute;
  max-width: 98%;
  width: 100%;
  top: 260px;
  left: 1%;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

#slide-menu .slider-btns-block .slider-btn {
  display: block;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: var(--prim-color);
  font-weight: 700;
}

#slide-menu .slider-btns-block .slider-btn:hover {
  color: var(--sec-color);
  transform: scale(1.5);
}

#recommended {
  margin: 30px auto;
  display: block;
  box-shadow: 0 0 10px 0 grey;
  padding-top: 20px;
  overflow: hidden;
}

#recommended .items-block {
  width: fit-content;
  margin: auto !important;
  max-width: 90% !important;
}

.items-block {
  display: flex;
  max-width: 98%;
  padding: 10px 0;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-inline: 40px;
}

.items-block .recommended-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  padding: 0px 15px 15px 15px;
  min-height: 200px;
  min-width: 190px !important;
  max-width: 200px;
  box-shadow: 2px 2px 4px 0 var(--prim-color);
}

.items-block .status-block {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.items-block .status-block .item-status {
  color: grey;
}

.items-block .status-block .item-status:hover {
  color: var(--prim-color);
}

.items-block .recommended-item .img-block {
  display: block;
  background-color: #d3d3d3;
  min-height: 150px;
  border-radius: 5px;
}

.items-block .recommended-item .details .item-name {
  color: var(--prim-color);
  margin: 10px 0;
}

.items-block .recommended-item .details .buttons {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  border-top: 1px solid var(--prim-color);
  padding-top: 5px;
  margin-top: 10px;
}

.items-block .recommended-item .details .buttons button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 3px 0 grey;
  background-color: var(--prim-color);
  color: #fff;
}

.items-block .recommended-item .details .buttons button:hover {
  background-color: #fff;
  color: var(--prim-color);
}

#categories {
  margin: 20px auto;
  display: flex;
  align-items: center;
  background-color: var(--sec-color);
  padding: 20px 10px;
  flex-direction: column;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--prim-color);
  border-radius: 50px;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  width: 5px;
}

#categories .category-block {
  margin: 20px auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 10px 0;
  flex-wrap: wrap;
  border-bottom: 2px solid #fff;
}

#categories .category-block .category {
  display: block;
  background-color: var(--prim-color);
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 grey;
  z-index: 0;
}

#categories .category:hover {
  scale: 1.1;
  background-color: #fff;
  color: var(--prim-color);
}

#categories .items-block {
  display: flex;
  max-width: 100%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap !important;
  overflow-x: auto;
  padding-inline: 40px;
}

#categories .items-block .menu-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  padding: 0px 15px 15px 15px;
  min-height: 240px;
  min-width: 190px !important;
  max-width: 200px;
  box-shadow: 2px 2px 4px 0 var(--prim-color);
  background-color: #fff;
}

#categories .items-block .menu-item .img-block {
  display: block;
  background-color: #d3d3d3;
  min-height: 150px;
  border-radius: 5px;
}

#categories .items-block .menu-item .details .item-name {
  color: var(--prim-color);
  margin: 10px 0;
}

#categories .items-block .menu-item .details .buttons {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  border-top: 1px solid var(--prim-color);
  padding-top: 5px;
  margin-top: 10px;
}

#categories .items-block .menu-item .details .buttons button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 3px 0 grey;
  background-color: var(--prim-color);
  color: #fff;
}

#categories .items-block .menu-item .details .buttons button:hover {
  background-color: #fff;
  color: var(--prim-color);
}